body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
  width: 100vw;
}

@media screen and (min-width: 1024px) {
  .main-container {
    /* todo: uncomment */
    /* height: calc(100vh - 3.25rem); */
    overflow-y: hidden;
  } 
}

.short-container {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.no-padding-top {
  padding-top: 0!important;
}

.no-padding-bottom {
  padding-bottom: 0!important;
}

.no-margin-bottom {
  margin-bottom: 0!important;
}