.vote-row {
  padding:0;
  margin:0;
  color: #303030;
  display: flex;
  flex-direction:row;
  align-content: center;
  justify-content: center;
  padding: 0.5em;
  min-height: 5em;
}

.vote-row.vote-row-border {
  border-bottom: 1px solid #dddddd;
}

div.vote-row-title {
  margin: 0.25rem;
  margin-right: 1rem;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
  text-align: left;
}

.vote-row-title > .criteria-name {
  font-weight: 800;
  flex-grow: auto;
  justify-content: flex-start;
}

.vote-row-title > .max-points {
  color: #666666;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 0.9em;
  height: 0.9em;
  justify-content: flex-start;
}

div.increment-input {
  display: flex;
  align-items: center;
  text-align: center; 
  justify-content: flex-end;
  font-size: 1.25em;
}

.increment-input>input {
  background: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  display: inline-flex;
  border: 0px solid black;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 2rem;
  width: 2em;
  padding: 0.25rem 0 0.25rem 0;
  margin: 0;
  align-items: center;
  text-align: center;
}

.is-grey.is-grey {
background: #cccccc;
}

a.increment-input-button {
  display: inline-flex;
  background: #00d1b2;
  font-size: 1rem;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border: 0 solid black;
  border-radius: 0.4em;
  color: white;
  font-size: 1rem;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.25em;
  text-align:center;
  justify-content: center;
  align-items:center;
}