.padding-1__dp {
  padding: 0.5rem 0;
}

.hidden {
  display: none;
}

.notif {
  background-color: #f5f5f5;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
}

.main-container__dp {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1.5rem 2rem;
  width: 100vw;
  flex: 1;
}

button.toggleDisplay__dp {
  display: inherit;
  width: 100%;
}

.main-panel__dp {
  grid-column: 1 / 2;
}

.rubric {
  display: grid;
  grid-template-columns: auto min-content;
  grid-auto-rows: 4em;
}

.nav-container__dp {
  width: 100%
}

.nav-desktop__dp {
  display: none;
}

.nav-mobile__dp {
  display: initial;
}

.rubric-title {
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .is-hidden-small {
    display: none;
  }
}


@media screen and (min-width: 1024px) {

  .nav-desktop__dp {
    display: initial;
  }
  
  .nav-mobile__dp {
    display: none;
  }

  .main-container__dp {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    height: 100%;
  }

  .main-panel__dp {
    height: 100%;
  }

  button.toggleDisplay__dp {
    display: none;
  }
  
  .info-panel__dp.main-panel__dp {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    overflow:hidden;
  }

  .project-description__dp {
    flex: 1;
  }

  .project-description__dp > .control{
    height: 100%;
  }

  .project-description__dp > .control > textarea {
    height: 100%;
  }

  .voting-panel__dp.main-panel__dp {
    grid-column: 2 / 3;
    height: 1fr;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .nav__dp {
    flex: auto;
  }

  .rubric {
    flex: 1;
    overflow-y: scroll;
    height: 300px;
  }
}

