.main-container__displayproject {
  padding: 0rem 1.5rem;
  height: 100%;
  width: 100%;
}

.voting-column.right-panel {
  max-height: 100%;
  overflow-y: auto; /* todo: change */
}

.vote-scores {
  overflow-y: auto;
}

.rubric {
  display: grid;
  grid-template-columns: auto min-content;
  grid-auto-rows: 4em;
}