APP_ID=CHOOSEAPPID # choose anything
MASTER_KEY=CHOOSEMASTERKEY # choose anything, keep secret
PARSE_PORT=8080 # make sure to change REACT_APP_PARSE_URL in .env of react app accordingly
PARSE_SERVER_URL=http://localhost:${PARSE_PORT}/parse
PUBLIC_PARSE_SERVER_URL=http://localhost:${PARSE_PORT}/parse
ADMIN_USERNAME=admin
ADMIN_PWD=admin
ADMIN_DISPLAY_NAME=admin

MONGODB_URL=mongodb://localhost:27017/judge